<div class="menu-order w-[360px]">
  <div class="menu-order-name hover:cursor-pointer flex space-x-3 pt-3 h-12 rounded-md font-semibold text-base">
    <span class="num"><ngx-skeleton-loader [theme]="{ width: '50px' }" count="1" appearance="line" /></span>
    <span class="menu-name w-56"><ngx-skeleton-loader [theme]="{ width: '224px' }" count="1" appearance="line" /></span>
    <span class="price"><ngx-skeleton-loader [theme]="{ width: '60px' }" count="1" appearance="line" /></span>
  </div>
</div>
