<nav class="w-full border-b border-b-[#e3e2e2] bg-white bg-gray-500 h-16 flex items-center justify-between px-5">
      <div class="logo">
        <h2 class="text-3xl font-semibold">Foodie</h2>
      </div>
      <div class="space-x-6 flex items-baseline">
        <button class="bg-white-color h-10 w-10 rounded-md flex justify-center items-center">
          <mat-icon class="refresh-icon text-black-color" fontIcon="refresh"></mat-icon>
        </button>
        <a [routerLink]="" class="flex hover:cursor-pointer h-10 bg-orange-color rounded-md px-2 items-center space-x-2">
          <mat-icon class="restaurant-icon text-white" fontIcon="restaurant"></mat-icon>
          <span class="text-white">Select Table</span>
        </a>
      </div>
</nav>

